<br><br><br><br>
    <h2 style="text-align: center;
        margin-bottom: 40px;
        font-family: Arial;">
        Tea Time
    </h2>

    <%= form_tag sessions_path do %>

        <div class="field form-group">
            <%= label_tag "Email" %>
            <%= text_field_tag :email, nil, placeholder: "name@example.com", class:"form-control" %>
        </div>
        <div class="field form-group">
            <%= label_tag "Password" %>
            <%= password_field_tag :password, nil, placeholder: "Password", class:"form-control" %>
        </div>


        <div  class="actions">
            <%= submit_tag "Log In"%>
        </div>

    <% end %>
<br><br>


