  <% if logged_in? %>
      <%= link_to "Logout", sessions_path, method: :delete %>
    <% else %>
      <%= form_tag sessions_path do %>
      <%= label_tag "Username" %>
      <%= text_field_tag :username, nil, placeholder: "Username" %>
      <%= label_tag "Password" %>
      <%= password_field_tag :password, nil, placeholder: "Password" %>
      <%= submit_tag "Log In"%>
    <% end %>
    <%= link_to "Sign Up", "users/new", method: :get %>
  <% end %>


<%= link_to "Teas", teas_path, method: :get %> 

 <% if current_user != nil%>
  <%= link_to "My Subscriptions", "/users/#{current_user.id}/subscriptions", method: :get %>
<% end %>

<h1> Teas Selection! </h1>
<div class="container">
  <% @teas.each do |tea|%>
    <%=tea.title%>
    <%=tea.description%>
    Temp<%=tea.temperature_f%>
    Brew time in seconds<%=tea.brew_time_seconds%>
    <p>$<%=tea.price_usd%></p>
    <% if current_user != nil %>
      <%= link_to "Add Subscription", "/users/#{current_user.id}/subscriptions/add/tea/#{tea.id}" %>
    <% end %>
  <% end %>
</div>

<% @teas.each do |tea|%>
  <div class="card" style="width: 18rem;">
    <%= image_tag ("sencha.jpeg"), width: 10, class: "card-img-top" %>
    <div class="card-body">
      <h5 class="card-title">
        <p><%=tea.title%>   |   $<%=tea.price_usd%></p>
      </h5>
      <p class="card-text"><%=tea.description%></p>
        <% if current_user != nil %>
          <%= button_to "Add Subscription", "/users/#{current_user.id}/subscriptions/add/tea/#{tea.id}" %>
        <% end %>
    </div>
  </div>
<% end %>

