
  


 

 
<h1><%=@tea.title%></h1>

<ul>Description:<%=@tea.description%></ul>
<ul>Brew Temperature <%=@tea.temperature_f%> Farenheit</ul>
<ul>Brew time: <%=@tea.brew_time_seconds%> Seconds</ul>
<ul>$<%=@tea.price_usd%></ul>

<div class="card" style="width: 18rem;">
  <%# <%= image_tag ("sencha.jpeg"), width: 10, class: "card-img-top"%> %>
  <div class="card-body">
    <h5 class="card-title">
      <%=@tea.title%>
    </h5>
    <p class="card-text"><%=@tea.description%></p>

  </div>
</div>

