  <% if logged_in? %>
      <%= link_to "Logout", sessions_path, method: :delete %>
    <% else %>
      <%= link_to "Login", login_path, method: :get %>
  <% end %>
  
<%= link_to "Home", user_path(current_user)%>
<%= link_to "Teas", teas_path, method: :get %>
<%= link_to "My Subscriptions", "/users/#{@user.id}/subscriptions", method: :get %>


<h1><%=@tea.title%></h1>

<ul>Description:<%=@tea.description%></ul>
<ul>Brew Temperature <%=@tea.temperature_f%> Farenheit</ul>
<ul>Brew time: <%=@tea.brew_time_seconds%> Seconds</ul>
<ul>$<%=@tea.price_usd%></ul>

