
<h1><%=@tea.title%></h1>

<ul>Description:<%=@tea.description%></ul>
<ul>Brew Temperature <%=@tea.temperature_f%> Farenheit</ul>
<ul>Brew time: <%=@tea.brew_time_seconds%> Seconds</ul>
<ul>$<%=@tea.price_usd%></ul>

