  <%# <% if logged_in? %>
      <%# <%= button_to "Logout", sessions_path, method: :delete %> %>
    <%# <% else %> %>
      <%# <%= button_to "Login", login_path, method: :get %> %>
  <%# <% end %> %>

  <%# <%= link_to "Home", user_path(current_user)%> %>
  <%# <%= link_to "Teas", teas_path, method: :get %> %>
  <%# <%= link_to "My Subscriptions", "/users/#{@user.id}/subscriptions", method: :get %> %>

<%# <h1>Welcome to the page of <%= @user.username %></h2> %>
<%# <% if current_user == @user %> %>
  <%# <h3>This is my page!!!</h3> %>
<%# <% end %> %> %>