<!DOCTYPE html>
<html>
  <style>
    .header {
      text-align: center;
       margin: 0;
        top: 33%;
    }
    .tea-container {
      margin-top: 20px;
    }
    .text-center {
      margin-top: 50px;
      margin-bottom: 110px;
    }
  </style>

  <body>
    
    <i class="bi-house"></i>

    
      <h1 class="text-center"> 
        Pick from our fields 
      </h1>
    

    <div class="container text-center justify-content-center">
      <div class="row row-cols-2 row-cols-md-3">
            <% @teas.each do |tea|%>
              <div class="col mb-4 ">
                <div class="card border-dark mb-3 shadow-lg bg-white rounded" style="width: 18rem; height: 28rem;">
                  <%= image_tag ("#{tea.images.first}"), class: "card-img-top", style: "height: auto; width: auto" %>
                  <div class="card-body">
                    <h5 class="card-title" style="font-size: 18px;">
                      <p><%=tea.name%>  |  $<%=tea.price%></p>
                    </h5>
                    <p class="card-text" style="font-size: 15px; margin-bottom: 1px;"><%= tea.description%></p>
                      <% if current_user.present? == true%>
                        <%= button_to "Subscribe", "/payments/create/#{tea.id}", method: :post %>
                      <% else %>
                        <%= button_to "Subscribe", signup_path, method: :get %>
                      <% end %>
                  </div>
                </div>
            </div>
          <% end %>
      </div>
    </div>


  </body>
</html>