<!DOCTYPE html>
<html>
  <style>
    .container-cart {
      width: 60vw;
      margin-left: 20vw;
    }
    .btn.btn-warning {
      width: 100%; 
    }
    .home-pic {
      opacity: .8;
    }
    .login-form {
        width: 340px;
        margin: 50px auto;
        font-size: 15px;
    }
    .login-form form {
        margin-bottom: 15px;
        background: #f7f7f7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }
    .login-form h2 {
        margin: 0 0 15px;
    }
    .form-control, .btn {
        min-height: 38px;
        border-radius: 2px;
    }
    .btn {        
        font-size: 15px;
        font-weight: bold;
    }
  </style>
  <body>

    <section class="h-100">
        <div class="container h-100 py-5">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-10">
              
              <% @cart_items.each do |item| %>  
              <div class="card rounded-3 mb-4">
                <div class="card-body p-4">
                  <div class="row d-flex justify-content-between align-items-center">
                    <div class="col-md-2 col-lg-2 col-xl-2">
                      <img
                        src=<%=("#{item.first.image}")%> style="height: 90px; width: 90px"
                        class="img-fluid rounded-3" alt="Cotton T-shirt">
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-3">
                      <p class="lead fw-normal mb-2"><%= item.first.name %></p>
                      <p><span class="text-muted"><%= item.first.description%> </span></p>
                    </div>
                    <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                      <h5 class="mb-0"><%= MoneyPresenter.new(item.first).format_price%></h5>
                      <%= button_to "Remove", remove_from_cart_path(item.first.stripe_product_id), method: :delete, class: " btn btn-outline-dark" %>
                    </div>
                  </div>
                </div>
              </div>
              <% end %>
              <%if @cart.empty? == false%>
                <div class="card">
                  <div class="card-body">
                  <%if current_user != nil%>
                      <%= button_to "Buy now", "/payments/create", class: "btn btn-warning btn-lg btn-block", type: "button" %>
                    <% else%>
                        <%= form_tag "/cart-login" do %>
                          <%= label_tag "Email" %>
                          <%= text_field_tag :email, nil, class:"form-control" %>
                          <%= label_tag "Password" %>
                          <%= password_field_tag :password, nil, class:"form-control" %>
                          <%= button_to "Log In", "/cart-login", method: :post, class: "btn btn-warning btn-lg btn-block", type: "button"  %>
                        <% end %>
                    <%end%>
                  </div>
                </div>
              <%else%>
                <div class="card rounded-3 mb-4">
                  <div class="card-body p-4">
                    <p >Your Cart is empty   <i class="bi bi-emoji-frown"></i></p>
                  </div>
                </div>
              <%end%>
            </div>
          </div>
        </div>

    </section>
    
  </body>
</html>






