<!DOCTYPE html>
<html>
  <style>
    .container-cart {
      width: 60vw;
      margin-left: 20vw;
    }
    .btn.btn-warning {
      width: 100%; 
    }
    .home-pic {
      opacity: .8;
    }
 
  </style>
  <body>

    <section class="h-100">
        <div class="container h-100 py-5">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-10">
              
              <% @cart_items.each do |item| %>  
              <div class="card rounded-3 mb-4">
                <div class="card-body p-4">
                  <div class="row d-flex justify-content-between align-items-center">
                    <div class="col-md-2 col-lg-2 col-xl-2">
                      <img
                        src=<%=("#{item.first.image}")%> style="height: 90px; width: 90px"
                        class="img-fluid rounded-3" alt="Cotton T-shirt">
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-3">
                      <p class="lead fw-normal mb-2"><%= item.first.name %></p>
                      <p><span class="text-muted"><%= item.first.description%> </span></p>
                    </div>
                    <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                      <h5 class="mb-0"><%= MoneyPresenter.new(item.first).format_price%></h5>
                      <%= button_to "Remove", remove_from_cart_path(item.first.stripe_product_id), method: :delete, class: " btn btn-outline-dark" %>
                    </div>
                  </div>
                </div>
              </div>
              <% end %>
              <%if @cart.empty? == false%>
              <div class="card">
                <div class="card-body">
                <%if current_user != nil%>
                    <%= button_to "Buy now", "/payments/create", class: "btn btn-warning btn-lg btn-block", type: "button" %>
                  <% else%>
                    <%= button_to "Login".html_safe, "/login", method: :get, class: "btn btn-warning btn-lg btn-block", form: { method: 'get' }%>
                  <%end%>
                </div>
              </div>
              <%else%>

                <div class="card rounded-3 mb-4">
                  <div class="card-body p-4">
                    <p >Your Cart is empty   <i class="bi bi-emoji-frown"></i></p>
                  </div>
                </div>

              <%end%>
            </div>
          </div>
        </div>

    </section>
    
  </body>
</html>