<!DOCTYPE html>
<html>
  <head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
  
  <title>TeaTime</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  </head>

  <style> 
     ::-webkit-scrollbar{
        height: 4px;
        width: 10px;
        background: #eeeeee;
    }

    ::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background: #86A036;
    }

    ::-webkit-scrollbar-track {
      border-radius: 0;
      background: #eeeeee;
    }

  </style>

  <body>
    <%= render partial: "layouts/partials/navbar" %>

    <div class="home-pic"></div>  
    <% flash.each do |type, msg| %>
      <div class="alert alert-success" role="alert">
        <%= msg %>
      </div>
    <% end %>
    <%= yield %>
    <br>
    <%= javascript_include_tag 'application' %>

  </body>
</html>
